body {
    background-color: #18232c; 
    color: #e2f3f5; 
    font-family: "Diplomata", serif;
    font-size: 1.5rem; 
    text-shadow: 2px 2px 0px #0d141a; 
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: #2c3b47; 
    color: #8fa3b2; 
    font-family: "Honk", system-ui;
    font-size: 1.1rem; 
    padding: 10px 22px;
    cursor: pointer;
    border: 3px solid #0d141a;
    border-radius: 0px;
    box-shadow: inset -3px -3px 0px #1f}