body {
background-color: rgb(126, 180, 112);
color: bisque;
 font-family: "Diplomata", serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}



button{
    background-color: rgb(179, 207, 207);
    color: rgb(0, 0, 0);
    font-family: "Honk", system-ui;
}